.chart-container {
  height: 50vh;
  width: 100vw;
  margin-top: 3em;
}

.stock-chart {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .chart-container {
    height: 60vh;
  } 
}
