.chart-container {
  height: 50vh;
  width: 90vw;
  margin-top: 1em;
}

.stock-chart {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .chart-container {
    width: 100vw;
    height: 60vh;
  } 
}
