@mixin positioned-absolute {
  position: absolute;
}

@mixin positioned-absolute-x-axis-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.stock-info {
  @include positioned-absolute-x-axis-center();
  top: 30px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;;
}

.ticker-title {
  font-size: 0.8em;
}

.company-title {
  font-size: 1.2em;
}

.last-updated {
  font-size: 0.7em;
}

.latest-price {
  margin-top: 0.5em;
  font-size: 1.2em;
  font-weight: 700;
}

@media screen and (min-width: 500px) {
  .stock-info {
    top: 60px;
  }
}