.App {
  text-align: center;
}

.App-header {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-title {
  position: absolute;
  top: 40px;
  left: 12vw;
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 1.4em;
}

h1 {
  color: white;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-between;
  position: absolute;
  bottom: 1em;
}

.nav-link {
  height: 30px;
  width: 30px;
}

.navbar-img {
  height: 1.5em;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .navigation {
    width: 7em;
    position: absolute;
    top: 40px;
    right: 3vw;
  }

  .navbar-img {
    height: 1em;
  }

  .page-title {
    top: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}