.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10em;
}

.capita-logo {
  height: 4em;
}

.capita-title {
  font-size: 2.5em;
  font-family: 'Cormorant', serif;
}

