.search-input {
  width: 75vw;
  height: 2.5em;
  text-align: center;
  border-radius: 15px;
  border: 0px;
}

.search-exchange {
  border-radius: 15px 0px 0px 15px;
  border: 0px;
  width: 50vw;
  height: 2.5em;
  margin-top: 1em;
}

.search-submit {
  height: 2.5em;
  width: 3.5em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0px;
  background-color: green;
  color: #ffffff;
}