.search-input {
  width: 80vw;
  height: 2.5em;
  text-align: center;
  border-radius: 15px;
  border: 0px;
}

.search-exchange {
  border-radius: 15px 0px 0px 15px;
  border: 0px;
  width: 68vw;
  height: 2.5em;
  margin-top: 1.2em;
  text-align-last: center;
}

.search-submit {
  height: 2.5em;
  width: 12vw;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0px;
  background-color: green;
  color: #ffffff;
}

.incomplete-form-error {
  margin: 1em;
  font-size: 0.8em;
}